USE [RecordSystem]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026/1/20 9:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserAccount] [varchar](50) NOT NULL,
	[AvatarUrl] [varchar](50) NULL,
	[Gender] [int] NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[UserStatus] [int] NULL,
	[Role] [int] NULL,
	[IsDelete] [bit] NULL
) ON [PRIMARY]
GO
