USE [RecordSystem]
GO
/****** Object:  Table [dbo].[ReportRecord]    Script Date: 2026/1/20 9:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportRecord](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[createdtime] [datetime2](0) NOT NULL,
	[type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportRecord] ADD  DEFAULT (sysdatetime()) FOR [createdtime]
GO
