USE [RecordSystem]
GO
/****** Object:  Table [dbo].[SourceData1]    Script Date: 2026/1/20 9:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceData1](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[createdtime] [datetime2](0) NOT NULL,
	[type] [int] NULL,
	[PH] [int] NULL,
	[cell1] [real] NULL,
	[cell2] [real] NULL,
	[cell3] [real] NULL,
	[cell4] [real] NULL,
	[cell5] [real] NULL,
	[cell6] [real] NULL,
	[cell7] [real] NULL,
	[cell8] [real] NULL,
	[cell9] [real] NULL,
	[cell10] [real] NULL,
	[cell11] [real] NULL,
	[cell12] [real] NULL,
	[cell13] [real] NULL,
	[cell14] [real] NULL,
	[cell15] [real] NULL,
	[cell16] [real] NULL,
	[cell17] [real] NULL,
	[cell18] [real] NULL,
	[cell19] [real] NULL,
	[cell20] [real] NULL,
	[cell21] [real] NULL,
	[cell22] [real] NULL,
	[cell23] [real] NULL,
	[cell24] [real] NULL,
	[cell25] [real] NULL,
	[cell26] [real] NULL,
	[cell27] [real] NULL,
	[cell28] [real] NULL,
	[cell29] [real] NULL,
	[cell30] [real] NULL,
	[cell31] [real] NULL,
	[cell32] [real] NULL,
	[cell33] [real] NULL,
	[cell34] [real] NULL,
	[cell35] [real] NULL,
	[cell36] [real] NULL,
	[cell37] [real] NULL,
	[cell38] [real] NULL,
	[cell39] [real] NULL,
	[cell40] [real] NULL,
	[cell41] [real] NULL,
	[cell42] [real] NULL,
	[cell43] [real] NULL,
	[cell44] [real] NULL,
	[cell45] [real] NULL,
	[cell46] [real] NULL,
	[cell47] [real] NULL,
	[cell48] [real] NULL,
	[cell49] [real] NULL,
	[cell50] [real] NULL,
	[cell51] [real] NULL,
	[cell52] [real] NULL,
	[cell53] [real] NULL,
	[cell54] [real] NULL,
	[cell55] [real] NULL,
	[cell56] [real] NULL,
	[cell57] [real] NULL,
	[cell58] [real] NULL,
	[cell59] [real] NULL,
	[cell60] [real] NULL,
	[cell61] [real] NULL,
	[cell62] [real] NULL,
	[cell63] [real] NULL,
	[cell64] [real] NULL,
	[cell65] [real] NULL,
	[cell66] [real] NULL,
	[cell67] [real] NULL,
	[cell68] [real] NULL,
	[cell69] [real] NULL,
	[cell70] [real] NULL,
	[cell71] [real] NULL,
	[cell72] [real] NULL,
	[cell73] [real] NULL,
	[cell74] [real] NULL,
	[cell75] [real] NULL,
	[cell76] [real] NULL,
	[cell77] [real] NULL,
	[cell78] [real] NULL,
	[cell79] [real] NULL,
	[cell80] [real] NULL,
	[cell81] [real] NULL,
	[cell82] [real] NULL,
	[cell83] [real] NULL,
	[cell84] [real] NULL,
	[cell85] [real] NULL,
	[cell86] [real] NULL,
	[cell87] [real] NULL,
	[cell88] [real] NULL,
	[cell89] [real] NULL,
	[cell90] [real] NULL,
	[cell91] [real] NULL,
	[cell92] [real] NULL,
	[cell93] [real] NULL,
	[cell94] [real] NULL,
	[cell95] [real] NULL,
	[cell96] [real] NULL,
	[cell97] [real] NULL,
	[cell98] [real] NULL,
	[cell99] [real] NULL,
	[cell100] [real] NULL,
	[cell101] [real] NULL,
	[cell102] [real] NULL,
	[cell103] [real] NULL,
	[cell104] [real] NULL,
	[cell105] [real] NULL,
	[cell106] [real] NULL,
	[cell107] [real] NULL,
	[cell108] [real] NULL,
	[cell109] [real] NULL,
	[cell110] [real] NULL,
	[cell111] [real] NULL,
	[cell112] [real] NULL,
	[cell113] [real] NULL,
	[cell114] [real] NULL,
	[cell115] [real] NULL,
	[cell116] [real] NULL,
	[cell117] [real] NULL,
	[cell118] [real] NULL,
	[cell119] [real] NULL,
	[cell120] [real] NULL,
	[cell121] [real] NULL,
	[cell122] [real] NULL,
	[cell123] [real] NULL,
	[cell124] [real] NULL,
	[cell125] [real] NULL,
	[cell126] [real] NULL,
	[cell127] [real] NULL,
	[cell128] [real] NULL,
	[cell129] [real] NULL,
	[cell130] [real] NULL,
	[cell131] [real] NULL,
	[cell132] [real] NULL,
	[cell133] [real] NULL,
	[cell134] [real] NULL,
	[cell135] [real] NULL,
	[cell136] [real] NULL,
	[cell137] [real] NULL,
	[cell138] [real] NULL,
	[cell139] [real] NULL,
	[cell140] [real] NULL,
	[cell141] [real] NULL,
	[cell142] [real] NULL,
	[cell143] [real] NULL,
	[cell144] [real] NULL,
	[cell145] [real] NULL,
	[cell146] [real] NULL,
	[cell147] [real] NULL,
	[cell148] [real] NULL,
	[cell149] [real] NULL,
	[cell150] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SourceData1] ADD  DEFAULT (sysdatetime()) FOR [createdtime]
GO
